<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <title><%= title%></title>
</head>
<body>
    <!-- TODO: Navbar -->
    <header>
        <nav class="navbar navbar-expand-lg text-white p-3 mb-2 bg-dark position-relative">
            <div class="navbar-brand">List Users</div>
            <div class="d-flex position-absolute end-0">
                <input class="form-control me-2" type="search" placeholder="by Id,Name,Email" id="inpsearch" aria-label="Search">
                <button id="btnsearch" class="btn btn-outline-success me-3">Search</button>
                <form>
                    <button formaction="/adduser" class="btn btn-outline-success me-2">Add</button>
                </form>
            </div>
        </nav>
    </header>

    <!-- TODO: Table view -->
    <div class="container">
        <table id="listUsers" class="table table-bordered table-hover table-striped">
            <thead class="table-dark">
                <tr class="text-center">
                    <td id="id" class="sorting">ID</td>
                    <td id="name" class="sorting">NAME</td>
                    <td id="email" class="sorting">EMAIL</td>
                    <td id="mobile" class="sorting">MOBILE</td>
                    <td>ACTION</td>
                </tr>
            </thead>
            <tbody>
                <% for(var i=0; i < users.length; i++) { %>
                    <tr>
                        <td class="text-center"><%= users[i].id %> </td>
                        <td><%= users[i].name %> </td>
                        <td><%= users[i].email %> </td>
                        <td class="text-end"><%= users[i].mobile %> </td>
                        <td class="text-center">
                            <a href="/detailuser/<%= users[i].id %> " class="btn btn-success">Detail</a>
                            <a href="/edituser/<%= users[i].id %>" class="btn btn-success">Edit</a>
                            <a href="/deleteuser/<%= users[i].id %>" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
</body>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery-3.6.0.min.js"></script>
<script src="js/pagination.js"></script>
<script type="text/javascript">
    $(document).ready(async function() {
        var limit = 5;
        var page = 1;


        var users = await $.ajax({
            url: 'http://localhost:8080/user',
            type: 'get',
            dataType: 'json'
        });

        $('#listUsers').pagination(users, limit);

        $('select').on('change', function() {
            limit = this.value;

            $('#listUsers').pagination(users, limit);
            $('#after').remove();
        });

        $('button#btnsearch').click(async function() {
            let search = $('#inpsearch').val();

            $.ajax({
                url: 'http://localhost:8080/user/search',
                type: 'post',
                data: {search},
                dataType: 'json',
                success: function(data) {
                    let tmpHTML = '';
                    if (!data.users.length){
                        tmpHTML += "<tr><td class='text-center' colspan='5'>Data does not match</td></tr>"
                    } else {
                        for (let index = 0; index < data.users.length; index++) {
                            tmpHTML +=  "<tr><td class='text-center'>"+data.users[index].id+
                                        "</td><td>"+data.users[index].name+
                                        "</td><td>"+data.users[index].email+
                                        "</td><td class='text-end'>"+data.users[index].mobile+
                                        "</td><td class='text-center'><a href='/detailuser/"+data.users[index].id+"' class='btn btn-success'>"+"Detail"+
                                            "</a><a href='/edituser/"+data.users[index].id+"' class='btn btn-success ms-3'>"+"Edit"+
                                            "</a><a href='/deleteuser/"+data.users[index].id+"' class='btn btn-danger ms-3'>"+"Delete"+
                                        "</a></td></tr>";
                        }
                    }
                    $('#listUsers > tbody').empty().append(tmpHTML);

                    $('ul.pagination > li#next').addClass('disabled');
                    $('ul.pagination > li#lastNext').addClass('disabled');
                    $('ul.pagination > li#previous').addClass('disabled');
                    $('ul.pagination > li#firstPrev').addClass('disabled');

                    let text = "<a class='page-link'>This search data</a>";
                    $('ul.pagination > li#page').empty().append(text);
                }
            })
        })
    })
</script>
</html>